{{ define "main" }}

<div class="center f2 fw4 mt5 tk-jaf-lapture-display   f1-ns   f-5-l" style="max-width:56rem">

Thornir Falgrimsson
</div>

<style>
.css-stats-grid:after{
    content: '';
    display: block;
    margin-left: 30%;
}
</style>
<main class="center" style="max-width:56rem">
    {{ partial "stats/ability_scores" . }}
    {{ partial "stats/proficiency_bonus" . }}

    <div class="ba center mt3 tc">
        <p class="bb mb3 mt2 pb1 tracked-narrow">Saving Throws</p>
        <div class="ph3 tc">
            {{ if isset .Params "saving_throws" }}
                {{ range  first 5 .Params.saving_throws }}
                    <div class="bb flex items-center mt2 pb2">
                        <div class="ba br-100 h1 mv0 w1"></div>
                        <p class="lh-solid ml3 mv0" style="padding-top:3px">{{ .score | markdownify }}</p>
                    </div>
                {{ end }}
                {{ range  first 1 (after 5 .Params.saving_throws) }}
                    <div class="flex items-center mt2 pb3">
                        <div class="ba br-100 h1 mv0 w1"></div>
                        <p class="lh-solid ml3 mv0" style="padding-top:3px">{{ .score | markdownify }}</p>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <div class="center flex justify-between mt5 tk-jaf-lapture" style="max-width:56rem">
        <div class="courier f5 lh-title">
        <p class="mb3 mt0">
            Race <span class="nl1">&mdash;</span>
            <br><span class="ii"> Mountain Dwarf</span>
        </p>
        <p class="mb3 mt0">
            Class <span class="nl1">&mdash;</span>
            <br><span class="ii"> Cleric</span>
        </p>
        <p class="mb3 mt0">
            Alignment <span class="nl1">&mdash;</span>
            <br><span class="ii"> Lawful Good</span>
        </p>
        <p class="mb3 mt0">
            Height <span class="nl1">&mdash;</span>
            <br><span class="ii"> 4'8"</span>
        </p>
        </div>
        <div class="f4 lh-copy measure">
            <p class="mb4 mt0">Arms and eyes upraised toward the sun and a prayer on his lips, an elf begins to glow with an inner light that spills out to heal his battle-worn companions.</p>
            <p class="mb4 mt0">Chanting a song of glory, a dwarf swings his axe in wide swaths to cut through the ranks of orcs arrayed against him, shouting praise to the gods with every foe's fall.</p>
            <p class="mb4 mt0">Calling down a curse upon the forces of undeath, a human lifts her holy symbol as light pours from it to drive back the zombies crowding in on her companions.</p>
            <p class="mb4 mt0">Clerics are intermediaries between the mortal world and the distant planes of the gods. As varied as the gods they serve, clerics strive to embody the handiwork of their deities. No ordinary priest, a cleric is imbued with divine magic.</p>
        </div>
    </div>
</main>


<footer>

</footer>
{{ end }}
